.manage-user-container {
    padding: 10px;
    .manage-user-title {
        font-size: 20px;
        font-weight: 600;
    }
    .manage-user-content {
        .btn-add-user {
            margin: 5px 0;
        }
    }
}